body {
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 8px;
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #FFF;
}
body::-webkit-scrollbar-thumb {
  background-color: #000 ;
  border-radius: 6px;
  border: 3px solid #FFF;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #c2c2c2;
}

.button-conatiner {
    border: #000 solid 2px;
    border-radius: 20px;
}

.button {
    font-size: 1.2em;
    line-height:2em;
    width: -webkit-fill-available;
    white-space: nowrap;
    padding: 20px 30px;
}

.send, .close {
    cursor: pointer;
}

.send:hover, .close:hover {
    color: #c2c2c2;
}


.control-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

[id^="ctrl-"] {
    width: auto;
    padding: 0px 5px;
    font-size: 1.8em;
    border: none;
}

#ctrl-link {
    font-size: 2em;
    line-height: 2.4em;
    margin-right: 10px;
}

#ctrl-link-pr {
    margin: 0 10px;
    font-size: 2.5em;
    line-height: 1.4em;
}

#closeAll {
    border: 0px;
}

.artist {
    font-style: italic;
    padding-bottom: 0.3333em;
    border-bottom: 1px #c2c2c2 solid;
}

.pr-content {
    text-align: left;
    margin: 12px;
}

#works-popup {
    position: relative;
    width: 102%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

#info-popup {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

#pr-popup {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.pr-spacer {
    width: -webkit-fill-available;
    border-bottom: #000 solid 1px;
    margin: 30px;
}

.times-spacer {
    width: -webkit-fill-available;
    border-bottom: #cacaca solid 10px;
    margin: 30px 0px;
}

#title-popup {
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;
    align-items: center;
}

#live {
    flex-basis: 100%;
    font-weight: bold;
}

#pr-text {
    height: 71vh;
    overflow-y: scroll;
}

#bio-popup {
    width: 250px;
    position: relative;
    left: 135px;
    top: -70px;
    margin-bottom: -70px;
    background: #fff;
}

#bio-popup-live {
    width: 900px;
    position: absolute;
    left: 135px;
    top: 80vh;
    background: #fff;
}

#bios {
    font-size: 1.2em;
    padding: 0px 10px 20px;
}

div#ctrl-link-bio {
    width: -webkit-fill-available;
    padding: 0;
}

div#ctrl-link-bio-live {
    width: fit-content;
    padding: 0;
}

div#draggable {
    width: -webkit-fill-available;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252525' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    margin: 10px;
    cursor: move;
}   

img#arebyte_logo {
    height: 1.2em;
    margin-left: 3px;
    margin-bottom: -3px;
}

#close-popup {
    position: relative;
    width: 30%;
    height: 20%;
    left: 10%;
    bottom: 10px;
    background: #FFF;
    margin-bottom: -30px;
}

#close-button {
    margin-top: -10px;
}

#close_all {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: -8px;
}

.popup-text {
    margin: 0px 0px 12px;
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    border-left: #000 solid 2px;
    border-right: #000 solid 2px;
}

[id^="popup-"]  {
    flex-basis: 100%;
    line-height: 2em;
    padding-left: 2px;
}

div#popup-work-title {
    font-weight: bold;
}

div#popup-time {
    font-style: italic;
    margin-top: 5px;
    border-top: #000 solid 2px;
    padding-top: 8px;
}

.break {
    flex-basis: 100%;
}

.t-l {
    flex-basis: 25%;
    background: #fff;
}

.t-c {
    flex-grow: 1;
    flex-basis: 20%;
    border-bottom: #000 solid 2px;
    border-radius: 0 0 28px 0;
    background: #fff;
}

.t-r {
    height: 43px;
    border-top: #000 solid 2px;
    border-right: #000 solid 2px;
    border-radius: 28px 28px 28px 0;
    background: #fff;
    
}

.t-r-title {
    height: 43px;
    border: #000 solid 2px;
    border-radius: 28px 28px 28px 28px;
    background: #fff;
    margin-left: -8px;
}

.c-l-1 {
    flex-basis: 30%;
    border-left: #000 solid 2px;
    border-top: #000 solid 2px;
    border-radius: 28px 0 0;
    padding-top: 28px; 
    margin-top: -2px;
    margin-left: 25px;
    background: #fff;
}

.c-c-1 {
    flex-grow: 1;
    background: #fff;
}

.c-r-1 {
    padding-right: 50px;
    border-left: #000 solid 2px;
    border-radius: 28px 0;
}

.center {
    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 0px;
    background: #fff;
    padding: 0px 15px;
    font-size: 1.2em;
}

.c-l-2 {
    width: 25px;
    border-right: #000 solid 2px;
    border-radius: 28px 0 28px 0;
    padding-top: 28px;
    background: #fff;
}

.c-r-2 {
    margin-right: 50px;
    margin-left: 50px;
    flex-grow: 1;
    border-right: #000 solid 2px;
    border-bottom: #000 solid 2px;
    border-radius: 0 0 28px 0;
    background: #fff;
}

.b-l{
    width: 50px;
    height: 50px;
    border-left: #000 solid 2px;
    border-bottom: #000 solid 2px;
    border-radius: 50px 0 50px 50px;
    margin: -4px -10px;
    background: #fff;
}

.b-r {
    margin-right: 90px;
    margin-left: 10px;
    margin-top: -2px;
    flex-grow: 1;
    border-top: #000 solid 2px;
    border-radius: 28px 0;
    background: #fff;
}

#arebyte_logo_div {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}