
#rtc_info_button {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 33px;
    height: 33px;
    border-radius: 15px;
    background: white;
    background-image: url(/icons/rtc-24.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

