
#rtc_info_button {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 24px;
    height: 24px;
    border: #000 solid 1px;
    border-radius: 15px;
    background: white;
    background-image: url(/icons/rtc-24.png);
    background-size: cover;
}

